body{
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Noto Sans",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  background-color: black;
}
.logining{

}

* {
  box-sizing: border-box;
}

a{
cursor: pointer;
}

.pt-5{
  padding-top: var(--base-size-32, 32px) !important;
}

.pb-4{
  padding-bottom: var(--base-size-24, 24px) !important;
}

.px-3{
  padding-right: var(--base-size-16, 16px) !important;
  padding-left: var(--base-size-16, 16px) !important;
}

.cointainer-center{
  margin-left: auto;
  margin-right: auto;
  text-align: center !important;
}

.logotype{
  height: 52px;
  width: 52px;
}

.auth-form-header{
  text-align: center;
  margin-bottom: 16px;
  text-shadow: none;
  background-color: transparent;
}

.auth-form-header h1 {
  font-size: 24px;
  font-weight: var(--base-text-weight-light, 300);
  letter-spacing: -0.5px;
  color:white;
}

.auth-form label{
  display: block;
  margin-bottom: 8px;
  font-weight: var(--base-text-weight-normal, 400);
  text-align: left;
}

label{
 color:white;
}

.form-control:-webkit-autofill {
  box-shadow: inset 0 0 0 32px var(--color-canvas-default) !important;
  -webkit-text-fill-color: var(--color-fg-default);
}
.input-block {
  display: block;
  width: 100%;
}

.auth-form-body{
  padding: 16px;
    font-size: 14px;
    background-color: var(--color-canvas-subtle);
    border: 1px solid var(--color-border-muted);
    border-top: 0;
    border-radius: 0 0 6px 6px;
}

.btn-block{
  display: block;
    width: 100%;
    text-align: center;
}

.btn-primary{
  color: white;
    background-color: green;
    border-color: var(--button-primary-borderColor-rest, var(--color-btn-primary-border));
    box-shadow: var(--shadow-resting-small, var(--color-btn-primary-shadow)),var(--shadow-highlight, var(--color-btn-primary-inset-shadow));
}
.btn{
  position: relative;
    display: inline-block;
    padding: 5px 16px;
    font-size: 14px;
    font-weight: var(--base-text-weight-medium, 500);
    line-height: 20px;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    border: 1px solid;
    border-radius: 6px;
    -webkit-appearance: none;
    appearance: none;
}