body {
  background: black !important;
 }

.octicon {
  display: inline-block;
  overflow: visible !important;
  vertical-align: text-bottom;
  fill: currentColor;
}
.logotype{
  height: 32px;
  width: 32px;
}
.overlap-cover {
  width: 1000px;
  height: 400px;
  margin-top: 90px;
  border-radius: 100px;
  background-image: url(./img/5528701.jpg);
  color: #6f95ad;
}
.start-content{
  text-align: center;
  justify-content: center;
  display: flex;
  font-size: 44px;
}
.pd-1{
 padding-top: 20px;
}

.butLog {
  gap: 14px;
  padding: 15px 25px;
  position: relative;
  flex: 0 0 auto;
  border-radius: 17px;
  font-family: "Montserrat", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 17px;
  margin-right: 10px;
}
.butReg {
  gap: 14px;
  padding: 15px 25px;
  position: relative;
  flex: 0 0 auto;
  border-radius: 17px;
  font-family: "Montserrat", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 17px;
}
  .btn-1 {
    background-color: transparent;
    border: 1px solid white;
    cursor: pointer;
    transition: opacity .15s ease;
}

.btn-1:hover {
  opacity: 0.5;
  text-decoration: none;
  }

  .start-learn{
    margin-top: 150px;
  }
  .overlap-learn{
    background-image: url(./img/image-11.png);
    background-size: cover;
    height: 200px;
    width: 1510px;
  }